{% if site[site.tiles_source] %}
{% for category in site.tiles_categories %}

{% if category %}
<section class="tiles tiles-title">
        <h1>{{ category | replace: '-',' ' | replace: '_',' ' }}</h1>
</section>
{% endif %}
<section class="tiles">

        {% for page in site[site.tiles_source] limit:site.tiles_count %}
        {% unless page.categories contains category %}{% continue %}{% endunless %}

        {% if page.color %}
        <style>
                #tile-{{ page.slug }}:before {
                        background-color: {{ page.color }};
                } 
        </style>
        {% endif %}
        
        {% if site.tiles_source == 'resume' %}
        <article id='tile-{{ page.slug }}'>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                        <p>
                                {{ page.organization }} 
                                <b>{{ page.start_date | date: "%b, %Y" }}
                                {% if page.end_date %} - {{ page.end_date | date: "%b, %Y" }}{% endif %}
                                </b>
                         </p>
                        <p>{{ page.description }}</p>
                </header>
                {% if page.organization_logo %}
                <img  class="org-logo" src="{{ page.organization_logo }}" alt="" />
                {% endif %}
        </article>

        {% else %}
                <article id='tile-{{ page.slug }}'>
                        <span class="image">
                                <img src="{{ page.image }}" alt="" />
                        </span>
                        <header class="major">
                                <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                                <p>{{ page.description }}</p>
                        </header>
                </article>
        {% endif %}
        {% endfor %}
</section>
{% endfor %}
{% endif %}
