<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ content_url('') }}" class="logo">
		{% if site.meta.logo %}
	        <img src="{{ media_url(site.meta.logo) }}" alt="" />
    	{% endif %}
		{{ site.meta.title }} <span>{{ resource.meta.subtitle }}</span>
		 <!-- <strong>{{ resource.meta.title }}</strong> -->
	</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in menu %}
		    <li><a href="{{ page.url }}"class='{{ page.type }}'>
		    	{% if page.icon %}<i class='fa fa-{{ page.icon }}'></i>{% endif %}
		    	{{ page.name }}
		    </a></li>
		{% endfor %}
	</ul>
	<!-- <ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul> -->
</nav>
